<div class="container">

  <%= simple_form_for(@car) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-bg">
      <div class="form-inputs">
          <%= simple_form_for @car do |f| %>
          <%= f.input :model, placeholder: 'model' %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.input :year, placeholder: 'year' %>
          <%= f.input :color, placeholder: 'color' %>
          <%= f.input :km, placeholder: 'Kilometers' %>
          <%= f.input :price, placeholder: 'price' %>
          <%= f.input :location, placeholder: 'location' %>
          <%= f.input :description, placeholder: 'description' %>
          <%= f.submit class: 'btn btn-flat' %>
          <% end %>
      </div>
    </div>
  <% end %>
</div>
