<!-- index.html.erb -->

<div class="container">
  <h1 class="text-center my-5 h1-mycars">Find your car</h1>
</div>

<div class="container mb-5">
  <%= form_with url: cars_path, method: :get, class: "d-flex justify-content-center" do |f| %>
    <%= f.text_field :query,
      class: "form-control rounded-pill bg-white shadow border px-4",
      placeholder: "Find a car" %>
    <%= f.submit "Search", class: "btn btn-secondary btn-sm shadow-sm border px-3 mx-1 shadow" %>
  <% end %>

  <% if @cars.empty? %>
    <div class="alert alert-danger text-center mt-3" role="alert">
      We couldn't find any results for <strong><%= params[:query].upcase %></strong>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="row justify-content-center card-container">
    <% @cars.each do |car| %>
      <% if car.available %>
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card">
            <div id=<%= "carouselExampleIndicators#{car.id}" %> class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <% car.photos.each_with_index do |photo, index| %>
                  <button type="button" data-bs-target=<%= "\"#carouselExampleIndicators#{car.id}\"" %> data-bs-slide-to="<%= index %>" class="<%= index.zero? ? "active" : "" %>"></button>
                <% end %>
              </div>
              <div class="carousel-inner">
                <% if car.photos.attached? %>
                  <% car.photos.each_with_index do |photo, index| %>
                    <div class="carousel-item <%= index.zero? ? "active" : "" %>">
                      <%= cl_image_tag photo.key, class: "d-block w-100", crop: :fill, style: "border-radius: 4px 4px 0 0" %>
                    </div>
                  <% end %>
                <% else %>
                  <div class="carousel-item active">
                    <%= image_tag 'no-image-found.png', class: "d-block w-100", crop: :fill %>
                  </div>
                <% end %>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators<%= car.id %>" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators<%= car.id %>" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>
            <div class="card-body">
              <h2><%= car.year %> <%= car.brand %> <%= car.model %></h2>
              <h6><strong>KM:</strong> <%= car.km %></h6>
              <h6><strong>Color:</strong> <%= car.color %></h6>
              <h6><strong>Location: </strong><%= car.location %></h6>
              <p class="my-3"><%= car.description %></p>
              <h2 class="card-car-pricing"><%= number_to_currency(car.price, unit: "R$", separator: ",", delimiter: ".") %></h2>
              <div class="d-flex justify-content-between">
                <%= link_to 'Find', car_path(car), class:"btn btn-secondary hover:text-secondary rounded-pill shadow-sm border mt-4 px-3 shadow"%>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
