<div class="bg-dark d-grid gap-3">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">

        <img src="https://res.cloudinary.com/dls480qdn/image/upload/v1669138151/samples/VW-Fusca_etqmun.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dls480qdn/image/upload/v1669138150/samples/download_edxvb8.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dls480qdn/image/upload/v1669138150/samples/interior_agitfk.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container bg-light rounded gap-3 d-grid p-3">
    <div class="d-flex justify-content-around">
      <div class="flex-grow-1">
        <h1 class="h1-show">
          <strong>
            <p class='d-inline car-selection'><%= @car.year %></p>
            <p class='d-inline car-name'><%= @car.model %></p>
          </strong>
        </h1>
      </div>
      <div>
        <h3 class="h5-show">Price</h5>
        <p><%= number_to_currency(@car.price, unit: "R$", separator: ",", delimiter: ".") %></p>
      </div>
      </div>
      <p class="text-center"><%= @car.description %></p>
      <div class="text-center">
        <%= link_to 'Buy', car_sales_path(@car), data:{ turbo_method: :post}, class:"btn btn-success hover:text-success rounded-pill shadow-sm border m-1 px-5" %>
        <%= link_to 'Back', cars_path, class:"btn btn-secondary hover:text-secondary rounded-pill shadow-sm border m-1 px-5" %>
        <% if policy(@car).edit? %>
          <%= link_to "Edit", edit_car_path(@car), class:"btn btn-secondary hover:text-secondary rounded-pill shadow-sm border m-1 px-5" %>
        <% end %>
        <%= button_to "Delete", @car, class:"btn btn-danger hover:text-danger rounded-pill shadow-sm border m-1 px-4", method: :delete if policy(@car).destroy? %>
      </div>
  </div>

  <div class="container bg-light rounded gap-3 d-grid p-5">
    <div class='d-flex flex-column justify-content-center text-center list-inline mx-auto'>
      <h5 class="h5-show">Vehicle Items</h5>
      <ul class="list-group list-group-horizontal text-center">
        <li class="list-group-item">Airbag</li>
        <li class="list-group-item">Alarme</li>
        <li class="list-group-item">CD Player</li>
        <li class="list-group-item">Rádio</li>
        <li class="list-group-item">Travas elétricas</li>
      </ul>
    </div>

  </div>

  <div class="container bg-light rounded gap-3 d-grid p-5 mb-5">
    <div class='d-flex flex-column justify-content-center'>
      <h5 class="h5-show">About Seller</h5>
      <p><%= @car.user.first_name %></p>
      <p><%= @car.user.last_name %></p>
      <p><%= @car.user.email %></p>
      <p><%= @car.location %></p>
      <p>Pessoa Fisica</p>
      <p>Telefone</p>
    </div>
  </div>

</div>
