<div class="bg-dark">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">

        <img src="https://res.cloudinary.com/dls480qdn/image/upload/v1669138151/samples/VW-Fusca_etqmun.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dls480qdn/image/upload/v1669138150/samples/download_edxvb8.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dls480qdn/image/upload/v1669138150/samples/interior_agitfk.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container bg-light rounded">
    <div class="d-flex justify-content-around">
      <div class="flex-grow-1">
        <h1 class="h1-show"><p class='d-inline car-name'><strong><%= @car.model %></p> <p class='d-inline car-selection'><%= @car.selection %></strong></p></h1>
      </div>
      <div>
        <h3 class="h5-show">Price</h5>
        <p>R$ <%= @car.price %></p>
      </div>
    </div>
    <div class='d-flex flex-row justify-content-around'>
      <div>
        <h5 class="h5-show">Location</h5>
        <p><%= @car.location %></p>
      </div>
      <div>
        <h5 class="h5-show">Year</h5>
        <p><%= @car.year %></p>
      </div>
      <div>
        <h5 class="h5-show">Km</h5>
        <p><%= @car.km %></p>
      </div>
      <div>
        <h5 class="h5-show">Color</h5>
        <p><%= @car.color %></p>
      </div>
    </div>
    <div>
      <p><%= @car.description %></p>
    </div>
    <%= link_to 'Buy', car_sales_path(@car), data:{ turbo_method: :post} %>
  </div>
</div>
